DataFactory/pipeline/Archive.json
{
	"name": "Archive",
	"properties": {
		"activities": [
			{
				"name": "MasterTable_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_SelectAppDRData]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Dev_BrowserTabLogsSourceDataSet",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ArchiveEnabled_Filter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ArchiveEnabled_Filter').output.value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "ArchiveDays_Set variable",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "TableName_Set variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().TableName\r\n",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "ErrorLog",
										"activities": [
											{
												"name": "ErrorLog_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM ErrorLog WHERE CAST(CreatedDate AS DATE) < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBatchSize": 1000,
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false,
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "ErrorID",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "ErrorID",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "TenantID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TenantID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "FormID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "FormID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SystemIP",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "SystemIP",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SiteURL",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "SiteURL",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "Type",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Type",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Message",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "Message",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "InnerException",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "InnerException",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "CreatedBy",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "CreatedBy",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "Comments",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "Comments",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dev_ErrorLogSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "Dev_ArchiveErrorLogDataset",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "ErrorLog_Script",
												"type": "Script",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "ErrorLog_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_LogDBDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM ErrorLog WHERE CreatedDate < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "Stored procedure1",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "ErrorLog_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
													"storedProcedureParameters": {
														"ArchiveDays": {
															"value": {
																"value": "@variables('ArchiveDays')",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"TableName": {
															"value": {
																"value": "@variables('TableName')",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SCCU_LogDBDev",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Lookup1",
												"type": "Lookup",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "ErrorLog_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "Dev_ErrorLogSourceDataSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "TransactionLog_Json",
										"activities": [
											{
												"name": "TransactionLog_Json_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM TransactionLog_Json\n WHERE modifiedDate\n < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "TransId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "TransId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "SessionId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "SessionId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "ProcessId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "ProcessId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "reference",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "reference",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Json",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "Json",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "modifiedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "modifiedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dev_TransactionLog_JsonDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "Dev_ArchiveTransactionLog_JsonDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "TransactionLog_Json_copy1",
												"type": "Script",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "TransactionLog_Json_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_LogDBDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM TransactionLog_Json\n WHERE modifiedDate\n < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "Lookup2",
												"type": "Lookup",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "TransactionLog_Json_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "Dev_TransactionLog_JsonDataSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											},
											{
												"name": "TransactionLog_Json_Stored procedure",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "TransactionLog_Json_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
													"storedProcedureParameters": {
														"ArchiveDays": {
															"value": {
																"value": "@variables('ArchiveDays')",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"TableName": {
															"value": {
																"value": "@variables('TableName')",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SCCU_LogDBDev",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "ExternalRequestTxs",
										"activities": [
											{
												"name": "ExternalRequestTxs_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM ExternalRequestTxs\n WHERE RequestDateTime\n < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "WebServiceTxsID",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 15
																},
																"sink": {
																	"name": "WebServiceTxsID",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 15
																}
															},
															{
																"source": {
																	"name": "DataSourceID",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 15
																},
																"sink": {
																	"name": "DataSourceID",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 15
																}
															},
															{
																"source": {
																	"name": "DatasourceName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "DatasourceName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "FormName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "FormName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CommandName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "CommandName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ContactId",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "ContactId",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "UserID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RequestDateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "RequestDateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "ResponseDateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "ResponseDateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "RequestParameters",
																	"type": "String",
																	"physicalType": "text"
																},
																"sink": {
																	"name": "RequestParameters",
																	"type": "String",
																	"physicalType": "text"
																}
															},
															{
																"source": {
																	"name": "ResponseData",
																	"type": "String",
																	"physicalType": "text"
																},
																"sink": {
																	"name": "ResponseData",
																	"type": "String",
																	"physicalType": "text"
																}
															},
															{
																"source": {
																	"name": "ErrorCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ErrorCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ErrorData",
																	"type": "String",
																	"physicalType": "text"
																},
																"sink": {
																	"name": "ErrorData",
																	"type": "String",
																	"physicalType": "text"
																}
															},
															{
																"source": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "EnvCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "EnvCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RequestType",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RequestType",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CustomerId",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "CustomerId",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "InnerException",
																	"type": "String",
																	"physicalType": "text"
																},
																"sink": {
																	"name": "InnerException",
																	"type": "String",
																	"physicalType": "text"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dev_ExternalRequestTxsSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "Dev_ArchiveExternalRequestTxsDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "ExternalRequestTxs_Script",
												"type": "Script",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "ExternalRequestTxs_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_LogDBDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM ExternalRequestTxs\n WHERE RequestDateTime\n < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "ExternalRequestTxs_Stored procedure",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "ExternalRequestTxs_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
													"storedProcedureParameters": {
														"ArchiveDays": {
															"value": {
																"value": "@variables('ArchiveDays')",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"TableName": {
															"value": {
																"value": "@variables('TableName')",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SCCU_LogDBDev",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "TraceData",
										"activities": [
											{
												"name": "TraceData_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM TraceData\n WHERE CreatedDate < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "ID",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "ID",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "Message",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Message",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "TenantID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TenantID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "FormID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "FormID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "FormName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "FormName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserHostAddress",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserHostAddress",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserHostName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserHostName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "IP",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "IP",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "URL",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "URL",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Browser",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Browser",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "HasCookies",
																	"type": "Boolean",
																	"physicalType": "bit"
																},
																"sink": {
																	"name": "HasCookies",
																	"type": "Boolean",
																	"physicalType": "bit"
																}
															},
															{
																"source": {
																	"name": "InputType",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "InputType",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "IsMobileDevice",
																	"type": "Boolean",
																	"physicalType": "bit"
																},
																"sink": {
																	"name": "IsMobileDevice",
																	"type": "Boolean",
																	"physicalType": "bit"
																}
															},
															{
																"source": {
																	"name": "BowserVersion",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "BowserVersion",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "MobileDeviceManufacturer",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "MobileDeviceManufacturer",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "MobileDeviceModel",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "MobileDeviceModel",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "LogonUser",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "LogonUser",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserObjectGUID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserObjectGUID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dev_TraceDataSourceData",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "Dev_ArchiveTraceData",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "TraceData_Script",
												"type": "Script",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "TraceData_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_LogDBDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM TraceData\n WHERE CreatedDate < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "TraceData_Stored procedure",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "TraceData_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
													"storedProcedureParameters": {
														"ArchiveDays": {
															"value": {
																"value": "@variables('ArchiveDays')",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"TableName": {
															"value": {
																"value": "@variables('TableName')",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SCCU_LogDBDev",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "TransactionLog_Sql",
										"activities": [
											{
												"name": "TransactionLog_Sql_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM TransactionLog_Sql\n WHERE ModifiedTime\n < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "TranID",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "TranID",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "RecId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "RecId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Message",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "Message",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "FormName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "FormName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "FormTitle",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "FormTitle",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Status",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Status",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SessionId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "SessionId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "ParentId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "ParentId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "ProcessId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "ProcessId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "startTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "startTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "EndTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "EndTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "ErrorId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ErrorId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "TimeTaken",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TimeTaken",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ModifiedTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "ModifiedTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dev_TransactionLog_SqlSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "Dev_ArchiveTransactionLog_SqlDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "TransactionLog_Sql_Script",
												"type": "Script",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "TransactionLog_Sql_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_LogDBDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM TransactionLog_Sql\n WHERE ModifiedTime\n < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "TransactionLog_Sql_Stored procedure",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "TransactionLog_Sql_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
													"storedProcedureParameters": {
														"ArchiveDays": {
															"value": {
																"value": "@variables('ArchiveDays')",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"TableName": {
															"value": {
																"value": "@variables('TableName')",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SCCU_LogDBDev",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "FormAPITxs",
										"activities": [
											{
												"name": "FormAPITxs_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM FormAPITxs\n WHERE RequestDateTime\n < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "APITxsID",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 15
																},
																"sink": {
																	"name": "APITxsID",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 15
																}
															},
															{
																"source": {
																	"name": "FormID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "FormID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "FormName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "FormName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CommandName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "CommandName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RequestDateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "RequestDateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "ResponseDateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "ResponseDateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "RequestParameters",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "RequestParameters",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "ResponseData",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "ResponseData",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "ErrorCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ErrorCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ErrorStatus",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ErrorStatus",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ErrorData",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "ErrorData",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserHostAddress",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserHostAddress",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserHostName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserHostName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "IP",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "IP",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DEV_FormAPITxsSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "Dev_ArchiveFormAPITxsDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "FormAPITxs_Script",
												"type": "Script",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "FormAPITxs_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_LogDBDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM FormAPITxs\n WHERE RequestDateTime\n < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "FormAPITxs_Stored procedure",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "FormAPITxs_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
													"storedProcedureParameters": {
														"ArchiveDays": {
															"value": {
																"value": "@variables('ArchiveDays')",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"TableName": {
															"value": {
																"value": "@variables('TableName')",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SCCU_LogDBDev",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "BrowserTabLogs",
										"activities": [
											{
												"name": "BrowserTabLogs_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM BrowserTabLogs\n WHERE CreatedDate < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "BrowserTabId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "BrowserTabId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "LevelId",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "LevelId",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "TypeId",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "TypeId",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "RequestId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RequestId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ParentId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ParentId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Method",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Method",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "URL",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "URL",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "StatusCode",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "StatusCode",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "Headers",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Headers",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Description",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Description",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "FormInfo",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "FormInfo",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dev_BrowserTabLogsSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "Dev_ArchiveBrowserTabLogsDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "BrowserTabLogs_Script",
												"type": "Script",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "BrowserTabLogs_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_LogDBDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM BrowserTabLogs\n WHERE CreatedDate < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "BrowserTabLogs_Stored procedure",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "BrowserTabLogs_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
													"storedProcedureParameters": {
														"ArchiveDays": {
															"value": {
																"value": "@variables('ArchiveDays')",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"TableName": {
															"value": {
																"value": "@variables('TableName')",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SCCU_LogDBDev",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "BrowserTabInfo",
										"activities": [
											{
												"name": "BrowserTabInfo_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM BrowserTabInfo\n WHERE CreatedDate < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "SessionID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "SessionID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "BrowserTabId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "BrowserTabId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserAgent",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserAgent",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "IpAddress",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "IpAddress",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dev_BrowserTabInfoSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "Dev_ArchiveBrowserTabInfoDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "BrowserTabInfo_Script",
												"type": "Script",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "BrowserTabInfo_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_LogDBDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM BrowserTabInfo\n WHERE CreatedDate < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "AF_Log4NetDB",
										"activities": [
											{
												"name": "AF_Log4NetDB_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM AF_Log4NetDB\n WHERE Date\n < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Id",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "Id",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "Date",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "Date",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "Thread",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Thread",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Level",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Level",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Logger",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Logger",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Message",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Message",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Exception",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Exception",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dev_AF_Log4NetDBSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "Dev_ArchiveAF_Log4NetDBDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "AF_Log4NetDB_Script",
												"type": "Script",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "AF_Log4NetDB_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_LogDBDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM AF_Log4NetDB\n WHERE Date\n < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "AF_Log4NetDB_Stored procedure",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "AF_Log4NetDB_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
													"storedProcedureParameters": {
														"ArchiveDays": {
															"value": {
																"value": "@variables('ArchiveDays')",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"TableName": {
															"value": {
																"value": "@variables('TableName')",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SCCU_LogDBDev",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "NF_UserConnections",
										"activities": [
											{
												"name": "NF_UserConnections_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM NF_UserConnections\n WHERE CreatedDate < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "UserId",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "UserId",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "ClientId",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "ClientId",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "IP_Address",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "IP_Address",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dev_NF_UserConnectionsSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "Dev_ArchiveNF_UserConnectionsDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "NF_UserConnections_Script",
												"type": "Script",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "NF_UserConnections_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_MetaDBDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM NF_UserConnections\n WHERE CreatedDate < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "SecurityLog",
										"activities": [
											{
												"name": "SecurityLog_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM SecurityLog\n WHERE UpdateTime\n < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "TableName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TableName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Operation",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Operation",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Desc_before",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Desc_before",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Desc_after",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Desc_after",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UpdateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "UpdateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dev_SecurityLogSourceDateSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "Dev_ArchiveSecurityLogDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "SecurityLog_Script",
												"type": "Script",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "SecurityLog_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_MetaDBDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM SecurityLog\n WHERE UpdateTime\n < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "Lookup3",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "SecurityLog_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_MetaDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "Dev_SecurityLogSourceDateSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "RefreshTokens",
										"activities": [
											{
												"name": "RefreshTokens_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM RefreshTokens\n WHERE ExpiresUtc\n < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "RefreshToken",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RefreshToken",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Subject",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Subject",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "IssuedUtc",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "IssuedUtc",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "ExpiresUtc",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "ExpiresUtc",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dev_RefreshTokensSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "Dev_ArchiveRefreshTokensDataSe",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "RefreshTokens__Script",
												"type": "Script",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "RefreshTokens_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_MetaDBDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM RefreshTokens\n WHERE ExpiresUtc\n < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "UserInvalidAttempts",
										"activities": [
											{
												"name": "UserInvalidAttempts_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM UserInvalidAttempts\n WHERE CreatedDate < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "id",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "id",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "objectGUID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "objectGUID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "ModifiedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "ModifiedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "InvalidPasswordAttempts",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "InvalidPasswordAttempts",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "IsDeleted",
																	"type": "Boolean",
																	"physicalType": "bit"
																},
																"sink": {
																	"name": "IsDeleted",
																	"type": "Boolean",
																	"physicalType": "bit"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dev_UserInvalidAttemptsSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "Dev_ArchiveUserInvalidAttemptsDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "UserInvalidAttempts_Script",
												"type": "Script",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "UserInvalidAttempts_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_MetaDBDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM UserInvalidAttempts\n WHERE CreatedDate < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "PasswordHistory",
										"activities": [
											{
												"name": "PasswordHistory_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM PasswordHistory\n WHERE date\n < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "id",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 15
																},
																"sink": {
																	"name": "id",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 15
																}
															},
															{
																"source": {
																	"name": "userObjectGUID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "userObjectGUID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "password",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "password",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "date",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "date",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dev_PasswordHistorySourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "Dev_ArchivePasswordHistoryDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "PasswordHistory_Script_",
												"type": "Script",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "PasswordHistory_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_LogDBDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM PasswordHistory\n WHERE date\n < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "TempUserLoginValidations",
										"activities": [
											{
												"name": "TempUserLoginValidations_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM TempUserLoginValidations\n WHERE CreatedDate < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "Key",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Key",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "ModifiedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "ModifiedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "IsDeleted",
																	"type": "Boolean",
																	"physicalType": "bit"
																},
																"sink": {
																	"name": "IsDeleted",
																	"type": "Boolean",
																	"physicalType": "bit"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dev_TempUserLoginValidationsSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "Dev_ArchiveTempUserLoginValidationsDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "TempUserLoginValidations_Script",
												"type": "Script",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "TempUserLoginValidations_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_MetaDBDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM TempUserLoginValidations\n WHERE CreatedDate < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "RulesLog",
										"activities": [
											{
												"name": "RulesLog_Copy data",
												"type": "Copy",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM RulesLog\n WHERE LogTime\n < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "LogTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "LogTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "LogJSON",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "LogJSON",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "LoginName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "LoginName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dev_RulesLogSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "Dev_ArchiveRulesLogDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "RulesLog_Script",
												"type": "Script",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "RulesLog_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_MetaDBDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM RulesLog\n WHERE LogTime\n < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "UserLoginAttempts",
										"activities": [
											{
												"name": "UserLoginAttempts_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM UserLoginAttempts\n WHERE CreatedDate < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "ObjectGUID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ObjectGUID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "Browser",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Browser",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "BrowserVersion",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "BrowserVersion",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserAgent",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserAgent",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Details",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Details",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "IP",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "IP",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "IsMobileDevice",
																	"type": "Boolean",
																	"physicalType": "bit"
																},
																"sink": {
																	"name": "IsMobileDevice",
																	"type": "Boolean",
																	"physicalType": "bit"
																}
															},
															{
																"source": {
																	"name": "MobileDeviceManufacture",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "MobileDeviceManufacture",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "MobileDeviceModel",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "MobileDeviceModel",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserHostAddress",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserHostAddress",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserHostName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserHostName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "IsValidAttempt",
																	"type": "Boolean",
																	"physicalType": "bit"
																},
																"sink": {
																	"name": "IsValidAttempt",
																	"type": "Boolean",
																	"physicalType": "bit"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dev_UserLoginAttemptsSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "Dev_ArchiveUserLoginAttemptsDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "UserLoginAttempts_Script",
												"type": "Script",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "UserLoginAttempts_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_MetaDBDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM UserLoginAttempts\n WHERE CreatedDate < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "ArchiveDays_Set variable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "ArchiveDays",
								"value": {
									"value": "@item().ArchiveDays\r\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "TableName_Set variable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableName",
								"value": {
									"value": "@item().TableName",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ArchiveEnabled_Filter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "MasterTable_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('MasterTable_lookup').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().IsArchiveEnabled,true)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PurgeEnabled_Filter",
				"type": "Filter",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "MasterTable_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('MasterTable_lookup').output",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().IsPurgeEnabled,true)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachForPurge",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "PurgeEnabled_Filter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('PurgeEnabled_Filter').output.value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "PurgeDays_SetVariable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "PurgeDays",
								"value": {
									"value": "@item().PurgeDays",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SwitchForPurge",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "PurgeDays_SetVariable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().TableName",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "ErrorLog",
										"activities": [
											{
												"name": "Purge_ErrorLog",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_ArchiveDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM ErrorLog_Archive WHERE CreatedDate < DATEADD(DAY, -@{variables('PurgeDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "TransactionLog_Json",
										"activities": [
											{
												"name": "Purge_TransactionLog_Json",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_ArchiveDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM TransactionLog_Json_Archive WHERE modifiedDate < DATEADD(DAY, -@{variables('PurgeDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "ExternalRequestTxs",
										"activities": [
											{
												"name": "Purge_ExternalRequestTxs",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_ArchiveDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM ExternalRequestTxs_Archive WHERE RequestDateTime < DATEADD(DAY, -@{variables('PurgeDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "TraceData",
										"activities": [
											{
												"name": "Purge_TraceData",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_ArchiveDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM TraceData_Archive WHERE CreatedDate < DATEADD(DAY, -@{variables('PurgeDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "TransactionLog_Sql",
										"activities": [
											{
												"name": "Purge_TransactionLog_Sql",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_ArchiveDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM TransactionLog_Sql_Archive WHERE ModifiedTime < DATEADD(DAY, -@{variables('PurgeDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "FormAPITxs",
										"activities": [
											{
												"name": "Purge_FormAPITxs",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_ArchiveDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM FormAPITxs_Archive WHERE RequestDateTime < DATEADD(DAY, -@{variables('PurgeDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "BrowserTabLogs",
										"activities": [
											{
												"name": "Purge_BrowserTabLogs",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_ArchiveDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM BrowserTabLogs_Archive WHERE CreatedDate < DATEADD(DAY, -@{variables('PurgeDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "BrowserTabInfo",
										"activities": [
											{
												"name": "Purge_BrowserTabInfo",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_ArchiveDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM BrowserTabInfo_Archive WHERE CreatedDate < DATEADD(DAY, -@{variables('PurgeDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "AF_Log4NetDB",
										"activities": [
											{
												"name": "Purge_AF_Log4NetDB",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_ArchiveDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM AF_Log4NetDB_Archive WHERE Date < DATEADD(DAY, -@{variables('PurgeDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "NF_UserConnections",
										"activities": [
											{
												"name": "Purge_NF_UserConnections",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_ArchiveDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM NF_UserConnections_Archive WHERE CreatedDate < DATEADD(DAY, -@{variables('PurgeDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "SecurityLog",
										"activities": [
											{
												"name": "Purge_SecurityLog",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_ArchiveDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM SecurityLog_Archive WHERE UpdateTime< DATEADD(DAY, -@{variables('PurgeDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "RefreshTokens",
										"activities": [
											{
												"name": "Purge_RefreshTokens",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_ArchiveDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM RefreshTokens_Archive WHERE ExpiresUtc< DATEADD(DAY, -@{variables('PurgeDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "UserInvalidAttempts",
										"activities": [
											{
												"name": "Purge_UserInvalidAttempts",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_ArchiveDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM UserInvalidAttempts_Archive WHERE CreatedDate < DATEADD(DAY, -@{variables('PurgeDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "PasswordHistory",
										"activities": [
											{
												"name": "Purge_PasswordHistory",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_ArchiveDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM PasswordHistory_Archive WHERE Date < DATEADD(DAY, -@{variables('PurgeDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "TempUserLoginValidations",
										"activities": [
											{
												"name": "Purge_TempUserLoginValidations",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_ArchiveDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM TempUserLoginValidations_Archive WHERE CreatedDate < DATEADD(DAY, -@{variables('PurgeDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "RulesLog",
										"activities": [
											{
												"name": "Purge_RulesLog",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_ArchiveDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM RulesLog_Archive WHERE LogTime< DATEADD(DAY, -@{variables('PurgeDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									},
									{
										"value": "UserLoginAttempts",
										"activities": [
											{
												"name": "Purge_UserLoginAttempts",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_ArchiveDev",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE FROM UserLoginAttempts_Archive WHERE CreatedDate < DATEADD(DAY, -@{variables('PurgeDays')}, GETDATE())",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"IsArchiveEnabled": {
				"type": "String"
			},
			"ArchiveDays": {
				"type": "Integer"
			},
			"IsPurgeEnabled": {
				"type": "String"
			},
			"PurgeDays": {
				"type": "Integer"
			},
			"TableName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DataRetention"
		},
		"annotations": []
	}
}