DataFactory/pipeline/Completed_Email_Activity_Dynamic.json
{
	"name": "Completed_Email_Activity_Dynamic",
	"properties": {
		"activities": [
			{
				"name": "GetSendGridAPIKey",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@concat('https://sccu-keyvault.vault.azure.net/secrets/SCCUSendGridAPI-NONPROD?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "SendEmailNotification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetSendGridAPIKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', activity('GetSendGridAPIKey').output.value)\n",
							"type": "Expression"
						},
						"Content-Type": "application/json"
					},
					"url": "https://api.sendgrid.com/v3/mail/send",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\n  \"personalizations\": [\n    {\n      \"to\": [\n        {\n          \"email\": \"SCCUADFNotifications@claysys.com\"\n        }\n      ],\n      \"subject\": \"@{pipeline().parameters.subject}\"\n    }\n  ],\n  \"from\": {\n    \"email\": \"@{pipeline().globalParameters.FromEmail}\"\n  },\n  \"content\": [\n    {\n      \"type\": \"text/html\",\n      \"value\": \"@{pipeline().parameters.content}\"\n    }\n  ],\n  \"headers\": {\n    \"Priority\": \"@{pipeline().parameters.importance}\",\n    \"Importance\": \"@{pipeline().parameters.importance}\",\n    \"X-Priority\": \"@{if(equals(pipeline().parameters.importance, 'High'), '1', '3')}\"\n  }\n}\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"subject": {
				"type": "string",
				"defaultValue": "Test"
			},
			"importance": {
				"type": "string",
				"defaultValue": "High"
			},
			"content": {
				"type": "string",
				"defaultValue": "Test email"
			},
			"ToEmail": {
				"type": "string"
			}
		},
		"annotations": []
	}
}