DataFactory/pipeline/DynamicRetention.json
{
	"name": "DynamicRetention",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "POC_SqlDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "DB",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "DBName",
								"value": {
									"value": "@item().DBName",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Table",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "SourceTableName",
								"value": {
									"value": "@item().TableName",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Schema",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "SchemaName",
								"value": {
									"value": "@item().SchemaName",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DB",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Table",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Schema",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Destination Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"value": "@activity('Lookup1').output.value",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "Poc_ErrorloSource",
									"type": "DatasetReference",
									"parameters": {
										"DB": {
											"value": "@variables('DBName')",
											"type": "Expression"
										},
										"Table": {
											"value": "@variables('SourceTableName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Poc_Archive_Errorlog",
									"type": "DatasetReference",
									"parameters": {
										"Destination": {
											"value": "@variables('DestinationTableName')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Destination Table",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "DestinationTableName",
								"value": {
									"value": "@item().DestinationTable",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"DBName": {
				"type": "String"
			},
			"SourceTableName": {
				"type": "String"
			},
			"SchemaName": {
				"type": "String"
			},
			"DestinationTableName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}