DataFactory/pipeline/Email_Activity_Dynamic.json
{
	"name": "Email_Activity_Dynamic",
	"properties": {
		"activities": [
			{
				"name": "GetSendGridAPIKey",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@concat('https://sccu-keyvault.vault.azure.net/secrets/SCCUSendGridAPI-NONPROD?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "SendEmailNotification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetSendGridAPIKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', activity('GetSendGridAPIKey').output.value)\n",
							"type": "Expression"
						},
						"Content-Type": "application/json"
					},
					"url": "https://api.sendgrid.com/v3/mail/send",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\r\n  \"personalizations\": [\r\n    {\r\n      \"to\": [{ \"email\": \"SCCUADFNotifications@claysys.com\" }]\r\n    }\r\n  ],\r\n  \"from\": {\r\n    \"email\": \"@{pipeline().globalParameters.FromEmail}\"\r\n  },\r\n  \"subject\": \"@{pipeline().parameters.subject}\",\r\n  \"content\": [\r\n    {\r\n      \"type\": \"text/plain\",\r\n      \"value\": \"@{pipeline().parameters.content}\"\r\n    }\r\n  ],\r\n  \"custom_args\": {\r\n    \"pipelineName\": \"@{pipeline().parameters.pipelineName}\",\r\n    \"importance\": \"@{pipeline().parameters.importance}\"\r\n  }\r\n}\r\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"subject": {
				"type": "string"
			},
			"importance": {
				"type": "string"
			},
			"content": {
				"type": "string"
			},
			"pipelineName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}