DataFactory/pipeline/Errorlog.json
{
	"name": "Errorlog",
	"properties": {
		"activities": [
			{
				"name": "ErrorLog_Copy data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM ErrorLog WHERE CreatedDate < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ErrorID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ErrorID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TenantID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TenantID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FormID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FormID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SystemIP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SystemIP",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SiteURL",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SiteURL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Message",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Message",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "InnerException",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "InnerException",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Comments",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Comments",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Dev_ErrorLogSourceDataSet",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Dev_ArchiveErrorLogDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ErrorLog_Script",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "ErrorLog_Copy data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCCU_LogDBDev",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "DELETE FROM ErrorLog WHERE CreatedDate < DATEADD(DAY, -@{variables('ArchiveDays')}, GETDATE())",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"folder": {
			"name": "DataRetention"
		},
		"annotations": []
	}
}