DataFactory/pipeline/Offline_NonProd_Main.json
{
	"name": "Offline_NonProd_Main",
	"properties": {
		"activities": [
			{
				"name": "Copy From UAT",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Offline_UAT_to_QA",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "UAT",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy From UAT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "00_UAT_OfflineMain",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "IsQAOfflineEnabled",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy From UAT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT count(1) as 'RecordCount' FROM [dbo].[PipelineConfig] where PipelineRun=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "QA_SQL_DataSet",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IsQAOfflineEnabled",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('IsQAOfflineEnabled').output.firstRow['RecordCount'],0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "QA",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "00_QA_OfflineMain",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "OfflineServices"
		},
		"annotations": []
	}
}