DataFactory/pipeline/QA_Archive.json
{
	"name": "QA_Archive",
	"properties": {
		"activities": [
			{
				"name": "MasterTable_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_SelectAppDRData]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "QA_BrowserTabInfoSourceDataSet",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ArchiveEnabled_Filter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ArchiveEnabled_Filter').output.value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "ArchiveDays_Set variable",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "TableName_Set variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().TableName\r\n",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "ErrorLog",
										"activities": [
											{
												"name": "ErrorLog_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM ErrorLog WHERE CAST(CreatedDate AS DATE) < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBatchSize": 1000,
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false,
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "ErrorID",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "ErrorID",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "TenantID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TenantID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "FormID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "FormID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SystemIP",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "SystemIP",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SiteURL",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "SiteURL",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "Type",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Type",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Message",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "Message",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "InnerException",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "InnerException",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "CreatedBy",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "CreatedBy",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "Comments",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "Comments",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "QA_ErrorLogSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "QA_ArchiveErrorLogDataset",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "ErrorLog_Lookup",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "ErrorLog_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ErrorLogSourceDataSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "TransactionLog_Json",
										"activities": [
											{
												"name": "TransactionLog_Json_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM TransactionLog_Json\n WHERE CAST(modifiedDate AS DATE)\n < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "TransId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "TransId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "SessionId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "SessionId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "ProcessId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "ProcessId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "reference",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "reference",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Json",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "Json",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "modifiedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "modifiedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "QA_TransactionLog_JsonDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "QA_ArchiveTransactionLog_JsonDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "TransactionLog_Json_Lookup",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "TransactionLog_Json_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_TransactionLog_JsonDataSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "ExternalRequestTxs",
										"activities": [
											{
												"name": "ExternalRequestTxs_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM ExternalRequestTxs\n WHERE CAST(RequestDateTime AS DATE)\n < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false,
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "WebServiceTxsID",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 15
																},
																"sink": {
																	"name": "WebServiceTxsID",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 15
																}
															},
															{
																"source": {
																	"name": "DataSourceID",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 15
																},
																"sink": {
																	"name": "DataSourceID",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 15
																}
															},
															{
																"source": {
																	"name": "DatasourceName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "DatasourceName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "FormName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "FormName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CommandName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "CommandName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ContactId",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "ContactId",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "UserID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RequestDateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "RequestDateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "ResponseDateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "ResponseDateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "RequestParameters",
																	"type": "String",
																	"physicalType": "text"
																},
																"sink": {
																	"name": "RequestParameters",
																	"type": "String",
																	"physicalType": "text"
																}
															},
															{
																"source": {
																	"name": "ResponseData",
																	"type": "String",
																	"physicalType": "text"
																},
																"sink": {
																	"name": "ResponseData",
																	"type": "String",
																	"physicalType": "text"
																}
															},
															{
																"source": {
																	"name": "ErrorCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ErrorCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ErrorData",
																	"type": "String",
																	"physicalType": "text"
																},
																"sink": {
																	"name": "ErrorData",
																	"type": "String",
																	"physicalType": "text"
																}
															},
															{
																"source": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "EnvCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "EnvCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RequestType",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RequestType",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CustomerId",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "CustomerId",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "InnerException",
																	"type": "String",
																	"physicalType": "text"
																},
																"sink": {
																	"name": "InnerException",
																	"type": "String",
																	"physicalType": "text"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "QA_ExternalRequestTxsSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "QA_ArchiveExternalRequestTxsDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "ExternalRequestTxs_Lookup",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "ExternalRequestTxs_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ExternalRequestTxsSourceDataSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "TraceData",
										"activities": [
											{
												"name": "TraceData_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM TraceData\n WHERE CAST(CreatedDate AS DATE) < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "ID",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "ID",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "Message",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Message",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "TenantID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TenantID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "FormID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "FormID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "FormName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "FormName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserHostAddress",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserHostAddress",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserHostName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserHostName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "IP",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "IP",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "URL",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "URL",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Browser",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Browser",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "HasCookies",
																	"type": "Boolean",
																	"physicalType": "bit"
																},
																"sink": {
																	"name": "HasCookies",
																	"type": "Boolean",
																	"physicalType": "bit"
																}
															},
															{
																"source": {
																	"name": "InputType",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "InputType",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "IsMobileDevice",
																	"type": "Boolean",
																	"physicalType": "bit"
																},
																"sink": {
																	"name": "IsMobileDevice",
																	"type": "Boolean",
																	"physicalType": "bit"
																}
															},
															{
																"source": {
																	"name": "BowserVersion",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "BowserVersion",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "MobileDeviceManufacturer",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "MobileDeviceManufacturer",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "MobileDeviceModel",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "MobileDeviceModel",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "LogonUser",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "LogonUser",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserObjectGUID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserObjectGUID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "QA_TraceDataSourceData",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "QA_ArchiveTraceData",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "TraceData_Lookup",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "TraceData_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_TraceDataSourceData",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "TransactionLog_Sql",
										"activities": [
											{
												"name": "TransactionLog_Sql_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM TransactionLog_Sql\n WHERE CAST(ModifiedTime AS DATE)\n < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "TranID",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "TranID",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "RecId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "RecId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Message",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "Message",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "FormName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "FormName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "FormTitle",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "FormTitle",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Status",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Status",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SessionId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "SessionId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "ParentId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "ParentId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "ProcessId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																},
																"sink": {
																	"name": "ProcessId",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "startTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "startTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "EndTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "EndTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "ErrorId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ErrorId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "TimeTaken",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TimeTaken",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ModifiedTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "ModifiedTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "QA_TransactionLog_SqlSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "QA_ArchiveTransactionLog_SqlDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "TransactionLog_Sql_Lookup",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "TransactionLog_Sql_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_TransactionLog_SqlSourceDataSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "FormAPITxs",
										"activities": [
											{
												"name": "FormAPITxs_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM FormAPITxs\n WHERE CAST(RequestDateTime AS DATE)\n < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "APITxsID",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 15
																},
																"sink": {
																	"name": "APITxsID",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 15
																}
															},
															{
																"source": {
																	"name": "FormID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "FormID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "FormName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "FormName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CommandName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "CommandName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "RequestDateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "RequestDateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "ResponseDateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "ResponseDateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "RequestParameters",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "RequestParameters",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "ResponseData",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "ResponseData",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "ErrorCode",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ErrorCode",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ErrorStatus",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ErrorStatus",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ErrorData",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "ErrorData",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserHostAddress",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserHostAddress",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserHostName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserHostName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "IP",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "IP",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "QA_FormAPITxsSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "QA_ArchiveFormAPITxsDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "FormAPITxs_Lookup",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "FormAPITxs_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_FormAPITxsSourceDataSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "BrowserTabLogs",
										"activities": [
											{
												"name": "BrowserTabLogs_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM BrowserTabLogs\n WHERE CAST(CreatedDate AS DATE) < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "BrowserTabId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "BrowserTabId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "LevelId",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "LevelId",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "TypeId",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "TypeId",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "RequestId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RequestId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ParentId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ParentId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Method",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Method",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "URL",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "URL",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "StatusCode",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "StatusCode",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "Headers",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Headers",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Description",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Description",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "FormInfo",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "FormInfo",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "QA_BrowserTabLogsSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "QA_ArchiveBrowserTabLogsDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "BrowserTabLogs_Lookup",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "BrowserTabLogs_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_BrowserTabLogsSourceDataSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "BrowserTabInfo",
										"activities": [
											{
												"name": "BrowserTabInfo_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM BrowserTabInfo\n WHERE CAST(CreatedDate AS DATE) < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "SessionID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "SessionID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "BrowserTabId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "BrowserTabId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserAgent",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserAgent",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "IpAddress",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "IpAddress",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "QA_BrowserTabInfoSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "QA_ArchiveBrowserTabInfoDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "BrowserTabInfo_Lookup",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "BrowserTabInfo_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_BrowserTabInfoSourceDataSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "AF_Log4NetDB",
										"activities": [
											{
												"name": "AF_Log4NetDB_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM AF_Log4NetDB\n WHERE CAST(Date AS DATE)\n < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Id",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "Id",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "Date",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "Date",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "Thread",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Thread",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Level",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Level",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Logger",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Logger",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Message",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Message",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Exception",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Exception",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "QA_AF_Log4NetDBSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "QA_ArchiveAF_Log4NetDBDBDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "AF_Log4NetDB_Lookup",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "AF_Log4NetDB_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_AF_Log4NetDBSourceDataSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "NF_UserConnections",
										"activities": [
											{
												"name": "NF_UserConnections_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM NF_UserConnections\n WHERE CAST(CreatedDate AS DATE) < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "UserId",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "UserId",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "ClientId",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "ClientId",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "IP_Address",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "IP_Address",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "QA_NF_UserConnectionsSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "QA_ArchiveNF_UserConnectionsDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "NF_UserConnections_Lookup",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "NF_UserConnections_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_MetaDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_NF_UserConnectionsSourceDataSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "SecurityLog",
										"activities": [
											{
												"name": "SecurityLog_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM SecurityLog\n WHERE CAST(UpdateTime AS DATE)\n < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "TableName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TableName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Operation",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Operation",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Desc_before",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Desc_before",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Desc_after",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Desc_after",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UpdateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "UpdateTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "QA_SecurityLogSourceDateSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "QA_ArchiveSecurityLogDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "SecurityLog_Lookup",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "SecurityLog_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_MetaDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_SecurityLogSourceDateSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "RefreshTokens",
										"activities": [
											{
												"name": "RefreshTokens_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM RefreshTokens\n WHERE CAST(ExpiresUtc AS DATE)\n < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "RefreshToken",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "RefreshToken",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Subject",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Subject",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "IssuedUtc",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "IssuedUtc",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "ExpiresUtc",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "ExpiresUtc",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "QA_RefreshTokensSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "QA_ArchiveRefreshTokensDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "RefreshTokens_Lookup",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "RefreshTokens_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_MetaDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_RefreshTokensSourceDataSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "UserInvalidAttempts",
										"activities": [
											{
												"name": "UserInvalidAttempts_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM UserInvalidAttempts\n WHERE CAST(CreatedDate AS DATE) < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "id",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "id",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "objectGUID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "objectGUID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "ModifiedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "ModifiedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "InvalidPasswordAttempts",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "InvalidPasswordAttempts",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "IsDeleted",
																	"type": "Boolean",
																	"physicalType": "bit"
																},
																"sink": {
																	"name": "IsDeleted",
																	"type": "Boolean",
																	"physicalType": "bit"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "QA_UserInvalidAttemptsSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "QA_ArchiveUserInvalidAttemptsDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "UserInvalidAttempts_Lookup",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "UserInvalidAttempts_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_MetaDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_UserInvalidAttemptsSourceDataSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "PasswordHistory",
										"activities": [
											{
												"name": "PasswordHistory_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM PasswordHistory\n WHERE CAST(date AS DATE)\n < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "id",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 15
																},
																"sink": {
																	"name": "id",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 0,
																	"precision": 15
																}
															},
															{
																"source": {
																	"name": "userObjectGUID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "userObjectGUID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "password",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "password",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "date",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "date",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "QA_PasswordHistorySourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "QA_ArchivePasswordHistoryDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "PasswordHistory_Lookup",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "PasswordHistory_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_MetaDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_PasswordHistorySourceDataSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "TempUserLoginValidations",
										"activities": [
											{
												"name": "TempUserLoginValidations_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM TempUserLoginValidations\n WHERE CAST(CreatedDate AS DATE) < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "Key",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Key",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "ModifiedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "ModifiedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "IsDeleted",
																	"type": "Boolean",
																	"physicalType": "bit"
																},
																"sink": {
																	"name": "IsDeleted",
																	"type": "Boolean",
																	"physicalType": "bit"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "QA_TempUserLoginValidationsSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "QA_ArchiveTempUserLoginValidationsDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "TempUserLoginValidations_Lookup",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "TempUserLoginValidations_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_MetaDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_TempUserLoginValidationsSourceDataSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "RulesLog",
										"activities": [
											{
												"name": "RulesLog_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM RulesLog\n WHERE CAST(LogTime AS DATE)\n < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "TenantId",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "LogTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "LogTime",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "LogJSON",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "LogJSON",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "LoginName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "LoginName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "QA_RulesLogSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "QA_ArchiveRulesLogDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "RulesLog_Lookup",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "RulesLog_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_MetaDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_RulesLogSourceDataSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "UserLoginAttempts",
										"activities": [
											{
												"name": "UserLoginAttempts_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM UserLoginAttempts\n WHERE CAST(CreatedDate AS DATE) < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																},
																"sink": {
																	"name": "Id",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "ObjectGUID",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ObjectGUID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "CreatedDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															},
															{
																"source": {
																	"name": "Browser",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Browser",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "BrowserVersion",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "BrowserVersion",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserAgent",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserAgent",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Details",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Details",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "IP",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "IP",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "IsMobileDevice",
																	"type": "Boolean",
																	"physicalType": "bit"
																},
																"sink": {
																	"name": "IsMobileDevice",
																	"type": "Boolean",
																	"physicalType": "bit"
																}
															},
															{
																"source": {
																	"name": "MobileDeviceManufacture",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "MobileDeviceManufacture",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "MobileDeviceModel",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "MobileDeviceModel",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserHostAddress",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserHostAddress",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "UserHostName",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "UserHostName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "IsValidAttempt",
																	"type": "Boolean",
																	"physicalType": "bit"
																},
																"sink": {
																	"name": "IsValidAttempt",
																	"type": "Boolean",
																	"physicalType": "bit"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "QA_UserLoginAttemptsSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "QA_ArchiveUserLoginAttemptsDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "UserLoginAttempts_Lookup",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "UserLoginAttempts_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_LogDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_UserLoginAttemptsSourceDataSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									},
									{
										"value": "UserMappingConfiguration",
										"activities": [
											{
												"name": "UserMappingConfiguration_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM UserMappingConfiguration\n WHERE CAST(LastAccessed AS DATE) < DATEADD(DAY, -@{variables('ArchiveDays')}, CAST(GETDATE() AS DATE))",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "ID",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "ID",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "UserID",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "UserID",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "UserName",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "LastAccessed",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "LastAccessed",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "QA_UserMappingConfigurationSourceDataSet",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "QA_ArchiveUserMappingConfigurationDataSet",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "UserMappingConfiguration_Lookup",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "UserMappingConfiguration_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[DeleteArchivedRecords_MetaDB]",
														"storedProcedureParameters": {
															"ArchiveDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('ArchiveDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_UserMappingConfigurationSourceDataSet",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "ArchiveDays_Set variable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "ArchiveDays",
								"value": {
									"value": "@item().ArchiveDays\r\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "TableName_Set variable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableName",
								"value": {
									"value": "@item().TableName",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ArchiveEnabled_Filter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "MasterTable_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('MasterTable_lookup').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().IsArchiveEnabled,true)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PurgeEnabled_Filter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('MasterTable_lookup').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().IsPurgeEnabled,true)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachForPurge",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "PurgeEnabled_Filter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('PurgeEnabled_Filter').output.value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "PurgeDays_SetVariable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "PurgeDays",
								"value": {
									"value": "@item().PurgeDays",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SwitchForPurge",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "PurgeDays_SetVariable",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "TableNamePurge_Set variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().TableName",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "ErrorLog",
										"activities": [
											{
												"name": "Purge_ErrorLog_Lookup",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[PurgeRecords_ArchiveDB]",
														"storedProcedureParameters": {
															"PurgeDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('PurgeDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ArchiveErrorLogDataset",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "TransactionLog_Json",
										"activities": [
											{
												"name": "Purge_TransactionLog_Json_Lookup",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[PurgeRecords_ArchiveDB]",
														"storedProcedureParameters": {
															"PurgeDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('PurgeDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ArchiveTransactionLog_JsonDataSet",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "ExternalRequestTxs",
										"activities": [
											{
												"name": "Purge_ExternalRequestTxs_Lookup",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[PurgeRecords_ArchiveDB]",
														"storedProcedureParameters": {
															"PurgeDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('PurgeDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ArchiveExternalRequestTxsDataSet",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "TraceData",
										"activities": [
											{
												"name": "Purge_TraceData_Lookup",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[PurgeRecords_ArchiveDB]",
														"storedProcedureParameters": {
															"PurgeDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('PurgeDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ArchiveTraceData",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "TransactionLog_Sql",
										"activities": [
											{
												"name": "Purge_TransactionLog_Sql_Lookup",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[PurgeRecords_ArchiveDB]",
														"storedProcedureParameters": {
															"PurgeDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('PurgeDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ArchiveTransactionLog_SqlDataSet",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "FormAPITxs",
										"activities": [
											{
												"name": "Purge_FormAPITxs_Lookup",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[PurgeRecords_ArchiveDB]",
														"storedProcedureParameters": {
															"PurgeDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('PurgeDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ArchiveFormAPITxsDataSet",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "BrowserTabLogs",
										"activities": [
											{
												"name": "Purge_BrowserTabLogs_Lookup",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[PurgeRecords_ArchiveDB]",
														"storedProcedureParameters": {
															"PurgeDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('PurgeDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ArchiveBrowserTabLogsDataSet",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "BrowserTabInfo",
										"activities": [
											{
												"name": "Purge_BrowserTabInfo_Lookup",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[PurgeRecords_ArchiveDB]",
														"storedProcedureParameters": {
															"PurgeDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('PurgeDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ArchiveBrowserTabInfoDataSet",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "AF_Log4NetDB",
										"activities": [
											{
												"name": "Purge_AF_Log4NetDB_Lookup",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[PurgeRecords_ArchiveDB]",
														"storedProcedureParameters": {
															"PurgeDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('PurgeDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ArchiveAF_Log4NetDBDBDataSet",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "NF_UserConnections",
										"activities": [
											{
												"name": "Purge_NF_UserConnections_Lookup",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[PurgeRecords_ArchiveDB]",
														"storedProcedureParameters": {
															"PurgeDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('PurgeDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ArchiveNF_UserConnectionsDataSet",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "SecurityLog",
										"activities": [
											{
												"name": "Purge_SecurityLog_Lookup",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[PurgeRecords_ArchiveDB]",
														"storedProcedureParameters": {
															"PurgeDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('PurgeDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ArchiveSecurityLogDataSet",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "RefreshTokens",
										"activities": [
											{
												"name": "Purge_RefreshTokens_Lookup",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[PurgeRecords_ArchiveDB]",
														"storedProcedureParameters": {
															"PurgeDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('PurgeDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ArchiveRefreshTokensDataSet",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "UserInvalidAttempts",
										"activities": [
											{
												"name": "Purge_UserInvalidAttempts_Lookup",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[PurgeRecords_ArchiveDB]",
														"storedProcedureParameters": {
															"PurgeDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('PurgeDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ArchiveUserInvalidAttemptsDataSet",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "PasswordHistory",
										"activities": [
											{
												"name": "Purge_PasswordHistory_Lookup",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[PurgeRecords_ArchiveDB]",
														"storedProcedureParameters": {
															"PurgeDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('PurgeDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ArchivePasswordHistoryDataSet",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "TempUserLoginValidations",
										"activities": [
											{
												"name": "Purge_TempUserLoginValidations_Lookup",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[PurgeRecords_ArchiveDB]",
														"storedProcedureParameters": {
															"PurgeDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('PurgeDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ArchiveTempUserLoginValidationsDataSet",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "RulesLog",
										"activities": [
											{
												"name": "Purge_RulesLog_Lookup",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[PurgeRecords_ArchiveDB]",
														"storedProcedureParameters": {
															"PurgeDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('PurgeDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ArchiveRulesLogDataSet",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "UserLoginAttempts",
										"activities": [
											{
												"name": "Purge_UserLoginAttempts_Lookup",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[PurgeRecords_ArchiveDB]",
														"storedProcedureParameters": {
															"PurgeDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('PurgeDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ArchiveUserLoginAttemptsDataSet",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "UserMappingConfiguration",
										"activities": [
											{
												"name": "Purge_UserMappingConfiguration_Lookup",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[dbo].[PurgeRecords_ArchiveDB]",
														"storedProcedureParameters": {
															"PurgeDays": {
																"type": "Int32",
																"value": {
																	"value": "@variables('PurgeDays')",
																	"type": "Expression"
																}
															},
															"TableName": {
																"type": "String",
																"value": {
																	"value": "@variables('TableName')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "QA_ArchiveUserMappingConfigurationDataSet",
														"type": "DatasetReference"
													}
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "TableNamePurge_Set variable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableName",
								"value": {
									"value": "@item().TableName",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"IsArchiveEnabled": {
				"type": "String"
			},
			"ArchiveDays": {
				"type": "Integer"
			},
			"IsPurgeEnabled": {
				"type": "String"
			},
			"PurgeDays": {
				"type": "Integer"
			},
			"TableName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DataRetention"
		},
		"annotations": []
	}
}