DataFactory/pipeline/SCCUAlerts_DEV.json
{
	"name": "SCCUAlerts_DEV",
	"properties": {
		"activities": [
			{
				"name": "ExternalAlerts_Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "EXEC sps_GetExternalAlertRecipients",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "SubscriptionID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SubscriptionID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AccountID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AccountID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EMAIL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "EMAIL",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PHONE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PHONE",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DEV_SQL_DataSet",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DEV_GetExternalAlertRecipientsDataSet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetThresholdAlertSubscriptions_Copy data",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "EXEC Sps_GetThresholdAlertSubscriptionsToFile",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "SubscriptionID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SubscriptionID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AccountID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AccountID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BalanceThreshold",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BalanceThreshold",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BalanceType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BalanceType",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BalanceTypeAvailable",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BalanceTypeAvailable",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DEV_SQL_DataSet",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DEV_GetThresholdAlertSubscriptionsDataSet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetTransactionAlertSubscription_Copy data",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "EXEC sps_GetTransactionAlertSubscriptionToFile",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "SubscriptionID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SubscriptionID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AccountID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AccountID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TransactionTypeString",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TransactionTypeString",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NoAmountFlag",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NoAmountFlag",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MoreThanFlag",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MoreThanFlag",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MoreThanAmount",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MoreThanAmount",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LessThanFlag",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LessThanFlag",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LessThanAmount",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LessThanAmount",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Language",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Language",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DEV_SQL_DataSet",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DEV_GetTransactionAlertSubscriptionDataSet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Count_ExternalAlerts",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sps_GetExternalAlertRecipients]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DEV_SQL_DataSet",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set_RowCount_ExternalAlerts",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Count_ExternalAlerts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount_ExternalAlerts",
					"value": {
						"value": "@length(activity('Count_ExternalAlerts').output.value)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Check_RowCount_ExternalAlerts",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set_RowCount_ExternalAlerts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('RowCount_ExternalAlerts'), 0)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExternalAlerts_Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "EXEC sps_GetExternalAlertRecipients",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "SubscriptionID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "SubscriptionID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "AccountID",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "AccountID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "EMAIL",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "EMAIL",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "PHONE",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "PHONE",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DEV_SQL_DataSet",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DEV_GetExternalAlertRecipientsDataSet",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Count_ThresholdAlerts",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[Sps_GetThresholdAlertSubscriptionsToFile]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DEV_SQL_DataSet",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set_RowCount_ThresholdAlerts",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Count_ThresholdAlerts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount_ThresholdAlerts",
					"value": {
						"value": "@length(activity('Count_ThresholdAlerts').output.value)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Check_RowCount_ThresholdAlerts",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set_RowCount_ThresholdAlerts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('RowCount_ThresholdAlerts'), 0)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "GetThresholdAlertSubscriptions_Copy data_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "EXEC Sps_GetThresholdAlertSubscriptionsToFile",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "SubscriptionID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "SubscriptionID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "AccountID",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "AccountID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "BalanceThreshold",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "BalanceThreshold",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "BalanceType",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "BalanceType",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "BalanceTypeAvailable",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "BalanceTypeAvailable",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Type",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Type",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DEV_SQL_DataSet",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DEV_GetThresholdAlertSubscriptionsDataSet",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Count_TransactionAlerts",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[Sps_GetThresholdAlertSubscriptionsToFile]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DEV_SQL_DataSet",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set_RowCount_TransactionAlerts",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Count_TransactionAlerts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount_ExternalAlerts",
					"value": {
						"value": "@length(activity('Count_TransactionAlerts').output.value)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Check_RowCount_Transaction",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set_RowCount_TransactionAlerts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('RowCount_TransactionAlerts'), 0)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "GetTransactionAlertSubscription_Copy data_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "EXEC sps_GetTransactionAlertSubscriptionToFile",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "SubscriptionID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "SubscriptionID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "AccountID",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "AccountID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "TransactionTypeString",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "TransactionTypeString",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "NoAmountFlag",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "NoAmountFlag",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "MoreThanFlag",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "MoreThanFlag",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "MoreThanAmount",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "MoreThanAmount",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "LessThanFlag",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "LessThanFlag",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "LessThanAmount",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "LessThanAmount",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Language",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Language",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Type",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Type",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DEV_SQL_DataSet",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DEV_GetTransactionAlertSubscriptionDataSet",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"concurrency": 1,
		"variables": {
			"DateFormat": {
				"type": "String"
			},
			"FromDateTime": {
				"type": "String"
			},
			"SampleDate": {
				"type": "String"
			},
			"RowCount_ExternalAlerts": {
				"type": "Integer"
			},
			"RowCount_ThresholdAlerts": {
				"type": "Integer"
			},
			"RowCount_TransactionAlerts": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}