SCCU-EU-Data-Factory-NonProd/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SCCU-EU-Data-Factory-NonProd"
		},
		"SCCUDev_Admin_LogDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccudevsql01.database.windows.net"
		},
		"SCCUDev_Admin_LogDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUDev_Admin_LogDB"
		},
		"SCCUDev_Admin_MetaDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccudevsql01.database.windows.net"
		},
		"SCCUDev_Admin_MetaDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUDev_Admin_MetaDB"
		},
		"SCCUDev_Anonymous_LogDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccudevsql01.database.windows.net"
		},
		"SCCUDev_Anonymous_LogDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUDev_Anonymous_LogDB"
		},
		"SCCUDev_Anonymous_MetaDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccudevsql01.database.windows.net"
		},
		"SCCUDev_Anonymous_MetaDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUDev_Anonymous_MetaDB"
		},
		"SCCUQA_Admin_LogDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccuqasql01.database.windows.net"
		},
		"SCCUQA_Admin_LogDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUQA_Admin_LogDB"
		},
		"SCCUQA_Admin_MetaDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccuqasql01.database.windows.net"
		},
		"SCCUQA_Admin_MetaDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUQA_Admin_MetaDB"
		},
		"SCCUQA_Anonymous_MetaDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccuqasql01.database.windows.net"
		},
		"SCCUQA_Anonymous_MetaDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUQA_Anonymous_MetaDB"
		},
		"SCCUQA_ArchiveDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccuqasql01.database.windows.net"
		},
		"SCCUQA_ArchiveDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUQA_ArchiveDB"
		},
		"SCCUQA_LogDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccuqasql01.database.windows.net"
		},
		"SCCUQA_LogDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUQA_LogDB"
		},
		"SCCUQA_MetaDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccuqasql01.database.windows.net"
		},
		"SCCUQA_MetaDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUQA_MetaDB"
		},
		"SCCUQA_OfflineModeDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccuqasql01.database.windows.net"
		},
		"SCCUQA_OfflineModeDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUQA_OfflineModeDB"
		},
		"SCCUQa_Anonymous_LogDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccuqasql01.database.windows.net"
		},
		"SCCUQa_Anonymous_LogDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUQa_Anonymous_LogDB"
		},
		"SCCUStage_OfflineModeDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccustagesql02.4f8fb33c01e7.database.windows.net"
		},
		"SCCUStage_OfflineModeDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCU_OfflineModeDB_Stage"
		},
		"SCCUUAT_Admin_LogDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccuuatsql01.database.windows.net"
		},
		"SCCUUAT_Admin_LogDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUUAT_Admin_LogDB"
		},
		"SCCUUAT_Admin_MetaDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccuuatsql01.database.windows.net"
		},
		"SCCUUAT_Admin_MetaDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUUAT_Admin_MetaDB"
		},
		"SCCUUAT_Anonymous_LogDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccuuatsql01.database.windows.net"
		},
		"SCCUUAT_Anonymous_LogDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUUAT_Anonymous_LogDB"
		},
		"SCCUUAT_Anonymous_MetaDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccuuatsql01.database.windows.net"
		},
		"SCCUUAT_Anonymous_MetaDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUUAT_Anonymous_MetaDB"
		},
		"SCCUUAT_ArchiveDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccuuatsql01.database.windows.net"
		},
		"SCCUUAT_ArchiveDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUUAT_ArchiveDB"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Email_Activity_1stVersion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetSendGridAPIKey",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": {
								"value": "@concat('https://sccu-keyvault.vault.azure.net/secrets/SCCUSendGridAPI-NONPROD?api-version=7.0')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "SendEmailNotification",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "GetSendGridAPIKey",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Authorization": {
									"value": "@concat('Bearer ', activity('GetSendGridAPIKey').output.value)\n",
									"type": "Expression"
								},
								"Content-Type": "application/json"
							},
							"url": "https://api.sendgrid.com/v3/mail/send",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"body": {
								"value": "{\n  \"personalizations\": [\n    {\n      \"to\": [\n        {\n          \"email\": \"SCCUADFNotifications@claysys.com\"\n        }\n      ],\n      \"subject\": \"ADF Pipeline Notification\"\n    }\n  ],\n  \"from\": {\n    \"email\": \"sccuadf@mail.cunextgen.org\"\n  },\n  \"content\": [\n    {\n      \"type\": \"text/plain\",\n      \"value\": \"The ADF pipeline has started/completed/encountered an error.\"\n    }\n  ]\n}\n",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Email_Activity_Dynamic')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetSendGridAPIKey",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": {
								"value": "@concat('https://sccu-keyvault.vault.azure.net/secrets/SCCUSendGridAPI-NONPROD?api-version=7.0')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "SendEmailNotification",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "GetSendGridAPIKey",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Authorization": {
									"value": "@concat('Bearer ', activity('GetSendGridAPIKey').output.value)\n",
									"type": "Expression"
								},
								"Content-Type": "application/json"
							},
							"url": "https://api.sendgrid.com/v3/mail/send",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"body": {
								"value": "{\n  \"personalizations\": [\n    {\n      \"to\": [{ \"email\": \"SCCUADFNotifications@claysys.com\" }]\n    }\n  ],\n  \"from\": {\n    \"email\": \"@{pipeline().globalParameters.FromEmail}\"\n  },\n  \"subject\": \"@{pipeline().parameters.subject}\",\n  \"content\": [\n    {\n      \"type\": \"text/plain\",\n      \"value\": \"Subject: @{pipeline().parameters.subject}\\nImportance: @{pipeline().parameters.importance}\\nContent: @{pipeline().parameters.content}\\nPipeline Name: @{pipeline().parameters.pipelineName}\"\n    }\n  ],\n  \"custom_args\": {\n    \"pipelineName\": \"@{pipeline().parameters.pipelineName}\",\n    \"importance\": \"@{pipeline().parameters.importance}\"\n  }\n}\n",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"subject": {
						"type": "string"
					},
					"importance": {
						"type": "string"
					},
					"content": {
						"type": "string"
					},
					"pipelineName": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUDev_Admin_LogDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCUDev_Admin_LogDB_properties_typeProperties_server')]",
					"database": "[parameters('SCCUDev_Admin_LogDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credentials_Dev",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUDev_Admin_MetaDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCUDev_Admin_MetaDB_properties_typeProperties_server')]",
					"database": "[parameters('SCCUDev_Admin_MetaDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credentials_Dev",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUDev_Anonymous_LogDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCUDev_Anonymous_LogDB_properties_typeProperties_server')]",
					"database": "[parameters('SCCUDev_Anonymous_LogDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credentials_Dev",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUDev_Anonymous_MetaDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCUDev_Anonymous_MetaDB_properties_typeProperties_server')]",
					"database": "[parameters('SCCUDev_Anonymous_MetaDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credentials_Dev",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUQA_Admin_LogDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCUQA_Admin_LogDB_properties_typeProperties_server')]",
					"database": "[parameters('SCCUQA_Admin_LogDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credentials_QA",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUQA_Admin_MetaDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCUQA_Admin_MetaDB_properties_typeProperties_server')]",
					"database": "[parameters('SCCUQA_Admin_MetaDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credentials_QA",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUQA_Anonymous_MetaDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCUQA_Anonymous_MetaDB_properties_typeProperties_server')]",
					"database": "[parameters('SCCUQA_Anonymous_MetaDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credentials_QA",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUQA_ArchiveDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCUQA_ArchiveDB_properties_typeProperties_server')]",
					"database": "[parameters('SCCUQA_ArchiveDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credentials_QA",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUQA_LogDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCUQA_LogDB_properties_typeProperties_server')]",
					"database": "[parameters('SCCUQA_LogDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credentials_QA",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUQA_MetaDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCUQA_MetaDB_properties_typeProperties_server')]",
					"database": "[parameters('SCCUQA_MetaDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credentials_QA",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUQA_OfflineModeDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCUQA_OfflineModeDB_properties_typeProperties_server')]",
					"database": "[parameters('SCCUQA_OfflineModeDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credentials_QA",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUQa_Anonymous_LogDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCUQa_Anonymous_LogDB_properties_typeProperties_server')]",
					"database": "[parameters('SCCUQa_Anonymous_LogDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credentials_QA",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUStage_OfflineModeDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "for stage offline Database",
				"annotations": [],
				"type": "AzureSqlMI",
				"typeProperties": {
					"server": "[parameters('SCCUStage_OfflineModeDB_properties_typeProperties_server')]",
					"database": "[parameters('SCCUStage_OfflineModeDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credentials_Database",
						"type": "CredentialReference"
					},
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUUAT_Admin_LogDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCUUAT_Admin_LogDB_properties_typeProperties_server')]",
					"database": "[parameters('SCCUUAT_Admin_LogDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credentials_UAT",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUUAT_Admin_MetaDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCUUAT_Admin_MetaDB_properties_typeProperties_server')]",
					"database": "[parameters('SCCUUAT_Admin_MetaDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credentials_UAT",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUUAT_Anonymous_LogDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCUUAT_Anonymous_LogDB_properties_typeProperties_server')]",
					"database": "[parameters('SCCUUAT_Anonymous_LogDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credentials_UAT",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUUAT_Anonymous_MetaDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCUUAT_Anonymous_MetaDB_properties_typeProperties_server')]",
					"database": "[parameters('SCCUUAT_Anonymous_MetaDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credentials_UAT",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUUAT_ArchiveDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCUUAT_ArchiveDB_properties_typeProperties_server')]",
					"database": "[parameters('SCCUUAT_ArchiveDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credentials_UAT",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		}
	]
}